@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html {
  font-family: "Quicksand", sans-serif;
}



header {
  width: 100% ;
  height: 40px ;
  border-bottom: 2px double #888;
}

.gallery {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0;
  flex-flow: row wrap;
}

.page-text {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}


.titulo {
  margin-bottom: 23px;
  line-height: normal;
  font-family: "Gloria Hallelujah", serif;
  font-size: 28px;
}

.titulo2 {
  margin: 0px 0 28px 0;
  line-height: normal;
  font-weight: bolder;
  color: #9F5532;
  font-size: 14px;
}

.texto {
  font-size: 14px;
  margin-bottom: 22px;
}


.gallery-file-card {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 30px;
  width: 280px;
  box-shadow: #ccc 1px 1px 7px 1px;
  padding-bottom: 20px;
}

.detail-file-card {
    background-color: whitesmoke;
    width: 100%;
    font-family: "Quicksand", sans-serif;

}

/*CARRUSEL DE IMÁGENES*/

.file-card figure{
  margin-top: 2px;
  margin-bottom: 20px;
}

.file-card img {
    display: block;
    text-align: center;
    max-width: 100%;

}

/*INFO DEL ANIMAL*/

.animalInfo {
    width:100%;
    overflow: hidden;

}


.info {
    padding: 0 20px 10px;
    font-size: 14px ;
    color: #34302F;
    line-height: 150% ;
}

.info dl {

}

.info dt, .info dd {
  display: inline-block;
}

.info dt {
  width: 30%;
}

.info dd {
  font-weight: bold;
  width: 70%;
}

.animalInfo h1 {
    margin-bottom: 10px;
    line-height: normal;
    font-family: "Gloria Hallelujah", serif;
    font-size: 24px;
    //border-bottom: 2px double #888;

}

.animalInfo ul {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}


/*Botones con Flexbox*/

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons a {
  width: 240px;
  padding: 10px;
  background-color: #78C0A8;
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  border-radius: 9px;
  margin-top: 15px;
  -webkit-font-smoothing: antialiased;
}

.detail-info {
  padding: 20px 40px 20px 40px ;
  font-size: 15px ;
  color: #34302F;
  line-height: 150% ;
}


.detail-animal-info h1 {
  margin-bottom: 40px ;
  margin-top: 20px ;
  line-height: normal ;
  font-family: "Gloria Hallelujah", serif ;
  font-size: 50px;
  //color: blueviolet ;
  border-bottom: 2px double #888;

}

.detail-animal-info ul {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.parrafos{
  margin-top: 30px ;
}

.animalInfo a:hover {
    background-color: #DA9F3B ;
    color: white ;
    font-weight: 700 ;
    box-shadow: 2px 2px 5px #999 ;
}

.animal-info a:active {
    background-color: palevioletred;
}



/************************************/
/************** FOOTER **************/
/************************************/

.iconsLib { display: none } /* No se dibuja la biblio de svgs */


/* Esto no se ve en movil */
.name {
  display: none;
}

.legal {
  display: none;
}

/* ---------------- */

footer {
  background-color: #432314;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

footer p {
  margin: 0;
}

footer div.back-button {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

footer div.address {
  margin: 0px 0 10px;
  line-height: 26px;
  font-size: 14px;
}

/* ICONOS ^^ */

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media a{
  width: 30px;
  height: 30px;
}

.logo-btn {
  margin: 20px;
}

.icon {
  display: inline-block;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}





@media all and (min-width:681px) {

  /************************************/
  /************** CARD **************/
  /************************************/
  .gallery {
    box-sizing: border-box;
  }

  .page-text {

  }

  .titulo {
    font-size: 48px;
  }

  .titulo2 {
    font-size: 24px;
  }

  .texto {
    font-size: 18px;
  }

  /************************************/
  /************** FOOTER **************/
  /************************************/
  /* Esto no se ve en tablet/desktop */
  .back-button {

    display: none;
  }

  /* Esto se ve en movil */
  .name {
    display: block;
    margin: 40px 0px 40px 35px;
    line-height: 26px;
    font-size: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  footer div.address {
    margin: 50px 0px 40px 0px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 600;
  }

  .social-media {
    margin: 45px 15px 0px 0px;
  }

  .social-media a {
    width: 20px;
    height: 20px;
  }

  .legal {
    display: block;
    font-size: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media all and (min-width:1024px) {


  .page-text {
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
  }

  .titulo {
    font-size: 70px;
    margin: 50px 0 50px 0;
  }

  .titulo2 {
    font-size: 30px;
    margin-bottom: 48px;
  }

  .texto {
    font-size: 22px;
    margin-bottom: 50px;
  }

  /************************************/
  /************** CARD **************/
  /************************************/
  .gallery {
    box-sizing: border-box;
    padding: 0 10%;
  }

  .gallery-file-card {
    width: 337px;
  }


  /*Botones*/




  .buttons a {
    flex-basis: 240px;
  }

  /************************************/
  /************** FOOTER **************/
  /************************************/
  /* Esto se ve en movil */
  .name {
    margin: 80px 0px 70px 105px;
    font-size: 14px;
  }

  footer div.address {
    margin: 100px 0px 50px 0px;
    font-size: 16px;

  }

  .social-media {
    margin: 95px 85px 0px 0px;
  }

  .social-media a {
    width: 30px;
    height: 30px;
  }

  .legal {
    font-size: 10px;
  }
}
