@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html {
  font-family: "Quicksand", sans-serif;
} 



header {
  width: 100% ;
  height: 40px ;
  border-bottom: 2px double #888;
}



.fileCard {
    background-color: whitesmoke;
    width: 100%;
    font-family: "Quicksand", sans-serif;
        
}

/*CARRUSEL DE IMÁGENES*/

.fileCard figure {
  
    margin-top: 2px;
    margin-bottom: 20px;
    
}

.fileCard img {
    display: block;
    text-align: center;
    max-width: 100%;
    
}

/*INFO DEL ANIMAL*/

.animalInfo {
   
    width:100%;
    overflow: hidden;
}


.info {
    padding: 20px 40px 20px 40px ;
    font-size: 15px ;
    color: #34302F;
    line-height: 150% ;    
}


.animalInfo h1 {
    margin-bottom: 40px ;
    margin-top: 20px ;
    line-height: normal ;
    font-family: "Gloria Hallelujah", serif ;
    font-size: 50px;
    //color: blueviolet ;
    border-bottom: 2px double #888;
    
}

.animalInfo ul {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.parrafos{
    margin-top: 30px ;
}


/*Botones*/

/* SIN FLEXBOX

.buttons { 
  text-align: center;
  padding-bottom: 40px;
border: 2px double  aquamarine;
}

.buttons a {
    width: 230px ;
    display: inline-block ;
    padding: 20px 20px ;
    background-color: #78C0A8 ;
    color: white ;
    text-decoration: none ;
    font-size: 25px ;
    text-align: center ; 
    margin-top: 40px;
    border-radius: 9px ;
    -webkit-font-smoothing: antialiased;
}

*/

/*Botones con Flexbox*/

.buttons { 
  padding-bottom: 40px ;
  display: flex ;
  align-items: center ;
  flex-direction: column ;
 
border: 2px double  aquamarine;
}

.buttons a {
    width: 230px ;
    //display: inline-block ;
    padding: 20px 20px ;
    background-color: #78C0A8 ;
    color: white ;
    text-decoration: none ;
    font-size: 25px ;
    text-align: center ; 
    margin-top: 40px;
    border-radius: 9px ;
    -webkit-font-smoothing: antialiased;
}





.animalInfo a:hover {
    background-color: #DA9F3B ;
    color: white ;
    font-weight: 700 ;
    box-shadow: 2px 2px 5px #999 ;
}

.animalInfo a:active {
    background-color: palevioletred;
    
}



/************************************/
/************** FOOTER **************/
/************************************/

.iconsLib { display: none } /* No se dibuja la biblio de svgs */


/* Esto no se ve en movil */
.name {
  
  display: none;
}

.legal {
  
  display: none;
}

/* ---------------- */

footer {
  background-color: #432314;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

footer p {
  margin: 0;
}

footer div.back-button {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

footer div.address {
  margin: 0px 0 10px;
  line-height: 26px;
  font-size: 14px;
}

/* ICONOS ^^ */

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media a{
  width: 30px;
  height: 30px;
}

.logo-btn {
  //display: inline-block;
  margin: 20px;
}

.icon {
  //height: 2.1rem;
  //width: 2.1rem;
  //line-height: normal;
  //
display: inline-block;
  //vertical-align: middle;
  //color: black;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}





@media all and (min-width:681px){
  
  
  /*
    
    .fileCard figure {
        //width: 30.33%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
    
    }
    
    .fileCard figure:nth-child(2) {
        margin: 0 2%;
    
    }

     .fileCard figure:last-child {
        width: 100%
    
    }
  
  
  .animalInfo {
    //width: 30.33%;
    //padding: 80px ;
    //margin: 20px ;
  }
      
*/
  
  
  
/************************************/
/************** CARD **************/
/************************************/
  
  
  /*Botones*/
  
.buttons { 
  flex-direction: row ;
  justify-content: space-between;
  padding: 0px 80px 40px 80px;
}

  
/************************************/

/************************************/  
  
  
    
  
  
/************************************/
/************** FOOTER **************/
/************************************/

/* Esto no se ve en tablet/desktop */
.back-button {
  
  display: none;
}
  
/* Esto se ve en movil */
.name {
  display:block ;
  margin: 40px 0px 40px 35px;
  line-height: 26px;
  font-size: 10px;
}


  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  
  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  
  footer div.address {
    margin: 50px 0px 40px 0px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 600;
  }
  
  
  .social-media {
    margin: 45px 15px 0px 0px;
  }
  
  .social-media a{
    width: 20px;
    height: 20px;
  }
  
  .legal {
    display: block;
    font-size: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
}


@media all and (min-width:1024px){
  /*  
    .fileCard {
        width: 1280px;
        box-sizing: border-box;
        margin: auto;
        background-color: skyblue;
        
    }
    
    .fileCard figure {
        width: 48%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
    
    }
    .fileCard figure:nth-child(2) {
        margin: 0 0 0 2%;
    
    }
    
     .fileCard figure:last-child {
        width: 48%;
        margin: 0 0 0 2%;
    
    }
  
   .animalInfo {
    width: 630px;
    //padding: 80px ;
    margin: 20px ;
  */
  
  /************************************/
/************** CARD **************/
/************************************/
  
  
  /*Botones*/
  
.buttons { 
  flex-direction: row ;
  justify-content: space-between;
  padding: 0px 200px 40px 200px;
}

  
/************************************/

/************************************/  
  
  
  

  
  
  
/************************************/
/************** FOOTER **************/
/************************************/

  
/* Esto se ve en movil */
.name {
  margin: 80px 0px 70px 105px;
    font-size: 14px;
}

  
  footer div.address {
    margin: 100px 0px 50px 0px;
    font-size: 16px;
  
  }
  
  
  .social-media {
    margin: 95px 85px 0px 0px;
  }
  
  .social-media a{
    width: 30px;
    height: 30px;
  }
  
  .legal {
    font-size: 10px;
  }
  
  }

